.PokedexScreenContainer {
  height: 55%;
  margin: 20px;
  border: var(--border-outline) solid black;
  border-radius: 10px;
  background: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
}

.PokedexScreenButtonWrapper {
  align-self: center;
  height: 8%;
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PokedexScreenButton {
  height: calc(.75 * var(--header-mini-button-radius));
  width: calc(.75 * var(--header-mini-button-radius));
  border-radius: 50%;
  border: 3px solid black;
  display: inline-block;
  background-color: red;
}

.PokedexScreen {
  height: 80%;
  width: 85%;
  margin: 0 auto;
  border: var(--border-outline) solid black;
  border-radius: 10px;
  animation-name: bootUp;
  animation-duration: 4s;
  box-shadow: 0 0 20px 2px black inset;
  background: var(--pokedex-screen-color);
}

.PokedexScreenBottom {
  display: flex;
  height: 8%;
  width: 100%;
  justify-content: space-between;
  align-self: flex-end;
  padding-top: 6px;
}

.PokedexScreenBurgerMenu {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 40px;
  justify-content: space-between;
  margin-right: 10%;
}

.PokedexScreenBottomButton {
  height: var(--header-mini-button-radius);
  width: var(--header-mini-button-radius);
  border-radius: 50%;
  border: 3px solid black;
  margin-left: 20%;
  align-self: center;
}

.PokedexScreenBurgerMenuLine {
  width: 100%;
  height: 10%;
  background: black;
}

@keyframes bootUp {
  from {background-color: black;}
  to {background-color: #25FB47;}
}