.PokedexBottom {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  height: 25%;
}

.PokedexBottomButton {
  background-color: var(--pokedex-black);
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 100%;
  margin-left: 30px;
}
