@font-face {
  font-family: 'pkmn_rbygscregular';
  src: url('./assets/fonts/pokemon/pkmn_rbygsc-webfont.woff2') format('woff2'),
       url('./assets/fonts/pokemon/pkmn_rbygsc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-height: 100px;
  --header-main-circle-radius: 70px;
  --header-inner-circle-radius: 55px;
  --header-mini-button-radius: 10px;
  --pokedex-main-colour: rgb(214, 11, 39);
  --pokedex-screen-color: #25FB47;
  --border-outline: 3px;
  --pokedex-black: #00302A;
}

body {
  background:  rgba(23, 13, 56, 0.884);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'pkmn_rbygscregular'
}

.PokedexContainer {
  box-sizing: border-box;
  width: 100vw;
  max-width: 500px;
  max-height: 800px;
  height: 100vh;
  background-color: var(--pokedex-main-colour);
  border-radius: 4px;
  border: var(--border-outline) solid black;
}
