@font-face {
  font-family: 'pkmn_rbygscregular';
  src: url('./assets/fonts/pokemon/pkmn_rbygsc-webfont.woff2') format('woff2'),
       url('./assets/fonts/pokemon/pkmn_rbygsc-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-height: 100px;
  --header-main-circle-radius: 70px;
  --header-inner-circle-radius: 55px;
  --header-mini-button-radius: 10px;
  --pokedex-main-colour: rgb(214, 11, 39);
  --pokedex-screen-color: #25FB47;
  --border-outline: 3px;
  --pokedex-black: #00302A;
}

body {
  background:  rgba(23, 13, 56, 0.884);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  font-family: 'pkmn_rbygscregular'
}

.PokedexContainer {
  box-sizing: border-box;
  width: 100vw;
  max-width: 500px;
  max-height: 800px;
  height: 100vh;
  background-color: var(--pokedex-main-colour);
  border-radius: 4px;
  border: var(--border-outline) solid black;
}

.PokedexHeader {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: 50% 25% 25%;
  height: var(--header-height);
}

.PokedexHeaderTop {
  grid-column-start: span 3;
  grid-row-start: 1;
  border-bottom: var(--border-outline) solid black;
  margin-bottom: calc(-1 * var(--border-outline));
}

.PokedexHeaderButtonContainer {
  grid-column-start: span 1;
  grid-row-start: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.PokedexHeaderButtonRed {
  height: var(--header-mini-button-radius);
  width: var(--header-mini-button-radius);
  border-radius: 50%;
  border: 3px solid black;
  background: red;
}

.PokedexHeaderButtonYellow {
  height: var(--header-mini-button-radius);
  width: var(--header-mini-button-radius);
  border-radius: 50%;
  border: 3px solid black;
  background: yellow;
}

.PokedexHeaderButtonGreen {
  height: var(--header-mini-button-radius);
  width: var(--header-mini-button-radius);
  border-radius: 50%;
  border: 3px solid black;
  background: green;
}

.PokedexHeaderLeft {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 4;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: var(--border-outline) solid black;
}

.PokedexHeaderCurve {
  grid-column-start: span 1;
  grid-row-start: span 2;
  background: linear-gradient(to bottom right, var(--pokedex-main-colour) 47%, black 47%, black 52%, var(--pokedex-main-colour) 52%);
}

.PokedexHeaderMainCircle {
  height: var(--header-main-circle-radius);
  width: var(--header-main-circle-radius);
  background-color: silver;
  border-radius: 50%;
  border: var(--border-outline) solid black;
  display: flex;
  align-items: center;
  justify-content: center;
}

.PokedexHeaderInnerCircle {
  height: var(--header-inner-circle-radius);
  width: var(--header-inner-circle-radius);
  background: radial-gradient(farthest-corner at 25px 20px, white, #3277B6);
  border-radius: 50%;
  border: var(--border-outline) solid black;
}

.PokedexScreenContainer {
  height: 55%;
  margin: 20px;
  border: var(--border-outline) solid black;
  border-radius: 10px;
  background: rgb(222, 222, 222);
  display: flex;
  flex-direction: column;
}

.PokedexScreenButtonWrapper {
  align-self: center;
  height: 8%;
  width: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.PokedexScreenButton {
  height: calc(.75 * var(--header-mini-button-radius));
  width: calc(.75 * var(--header-mini-button-radius));
  border-radius: 50%;
  border: 3px solid black;
  display: inline-block;
  background-color: red;
}

.PokedexScreen {
  height: 80%;
  width: 85%;
  margin: 0 auto;
  border: var(--border-outline) solid black;
  border-radius: 10px;
  animation-name: bootUp;
  animation-duration: 4s;
  box-shadow: 0 0 20px 2px black inset;
  background: var(--pokedex-screen-color);
}

.PokedexScreenBottom {
  display: flex;
  height: 8%;
  width: 100%;
  justify-content: space-between;
  align-self: flex-end;
  padding-top: 6px;
}

.PokedexScreenBurgerMenu {
  display: flex;
  flex-direction: column;
  height: 85%;
  width: 40px;
  justify-content: space-between;
  margin-right: 10%;
}

.PokedexScreenBottomButton {
  height: var(--header-mini-button-radius);
  width: var(--header-mini-button-radius);
  border-radius: 50%;
  border: 3px solid black;
  margin-left: 20%;
  align-self: center;
}

.PokedexScreenBurgerMenuLine {
  width: 100%;
  height: 10%;
  background: black;
}

@keyframes bootUp {
  from {background-color: black;}
  to {background-color: #25FB47;}
}

.PokedexBottom {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  height: 25%;
}

.PokedexBottomButton {
  background-color: var(--pokedex-black);
  height: 40px;
  width: 40px;
  border: 2px solid black;
  border-radius: 100%;
  margin-left: 30px;
}

.PokedexMiniScreenContainer {
  height: 100%;
  width: 45%;
  display: flex;
  flex-direction: column;
}

.PokedexMiniScreenButtonContainer {
  width: 100%;
  height: 20px;

}

.PokedexMiniScreenThinRedButton {
  height: 10px;
  width: 40%;
  background: red;
  display: inline-block;
  border: 2px solid black;
  border-radius: 10%;
  margin-right: 10px;
}

.PokedexMiniScreenThinBlueButton {
  height: 10px;
  width: 40%;
  background: #0E6290;
  display: inline-block;
  border: 2px solid black;
  border-radius: 10%;
}

.PokedexMiniScreen {
  height: 70px;
  width: 85%;
  margin-top: 20px;
  border: 3px solid black;
  border-radius: 5%;
  box-shadow: 0 0 20px 2px black inset;
  background: #52AE5F;
  text-align: center;
}

.PokedexScreenText {
  text-transform: uppercase;
  font-size: .8em;
}

.PokedexTouchpadContainer {
  height: 100px;
  width: 100px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-right: 20px;
  margin-top: 5%;
}

.PokedexTouchpadUp {
  grid-column-start: 2;
  grid-column-end: span 1;
  background-color: var(--pokedex-black);
  border: 2px solid black;
  border-bottom: none;
}

.PokedexTouchpadLeft {
  grid-column-start: 1;
  grid-column-end: span 1;
  grid-row-start: 2;
  background-color: var(--pokedex-black);
  border: 2px solid black;
  border-right: none;
}

.PokedexTouchpadRight {
  grid-column-start: 3;
  grid-column-end: span 1;
  grid-row-start: 2;
  background-color: var(--pokedex-black);
  border: 2px solid black;
  border-left: none;
}

.PokedexTouchpadMiddle {
  grid-column-start: 2;
  grid-column-end: span 1;
  grid-row-start: 2;
  background-color: var(--pokedex-black);
}

.PokedexTouchpadBottom {
  grid-row-start: 3;
  grid-column-start: 2;
  grid-column-end: span 1;
  background-color: var(--pokedex-black);
  border: 2px solid black;
  border-top: none;
}